# Backend environment variables
# Database
USE_SQLITE=True
# DATABASE_URL=postgres://user:password@localhost:5432/dbname (Optional for future Postgres use)

# Django settings
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=your-django-secret-key-here

# External APIs
GEMINI_API_KEY=your-gemini-api-key-here
